﻿<div ng-app="voteApp" ng-cloak>
    <div ng-controller="voteController">
        <div ng-switch="curStage">
            <div ng-switch-when="start">
                <div ng-form="firstForm">
                    <div>
                        <h1>Please login!</h1>
                    </div>
                    <div>
                        <label>Is Anominus?</label>
                        <input type="checkbox" ng-model="isAnonimus"/>
                    </div>
                    <div>
                        <label>Enter your e-mail:</label>
                        <input focus-me="true" ng-disabled="isAnonimus" type="email" name="email" ng-model="email"/>
                    </div>
                    <div>
                        <button ng-disabled="!(isAnonimus || email.length!=0)" ng-click="nextStage()">Start</button>
                    </div>
                </div>
            </div>
            <div ng-switch-when="QA">
                <h1>Questions</h1>
                <div ng-repeat="(ind, q) in questions" ng-show="isShowNextQuestion(ind)">
                    <p class="question">{{ind+1}}) {{q.Question}}?</p>
                    <div ng-show="q.SelectVoteType == 2">
                        Yes
                        <input type="radio"
                               name="yes/no"
                               ng-model="q.Answer"
                               value="'yes'">
                        No
                        <input type="radio"
                               name="yes/no"
                               ng-model="q.Answer"
                               value="'no'">
                    </div>
                    <div ng-show="q.SelectVoteType == 3">
                        <select ng-model="q.Answer"
                                ng-options="x for x in q.Options"
                                multiple>
                        </select>
                    </div>
                    <div ng-show="q.SelectVoteType == 4">
                        <input type="text"
                               placeholder="Enter your answer here"
                               focus-me="ind == 0"
                               ng-model="q.Answer" />
                    </div>
                </div>
                <button ng-show="isShowSendResponse()" ng-click="nextStage()">SendResponse</button>
            </div>
            <div ng-switch-when="end">
                <div>
                    <h1>Thank you for your vote!</h1>
                </div>
                <div>
                    <button focus-me="true" ng-click="close()">Finish</button>
                </div>
            </div>
        </div>
    </div>
</div>