﻿body {
    margin-left: 35%;
    margin-top: 20%;
    width: 500px;
    font-size: 20px;
    font-family: Geneva;
}

input {
    width: 100%;
}

button {
    float: right;
    color: white;
    background-color: #00bb00;
    border: 1px solid black;
    -ms-border-radius: 5px;
    border-radius: 5px;
    margin: 10px 0 0 100px;
    padding: 0 50px 0 50px;
}

input[type='checkbox'], input[type='radio'] {
    width: auto;
    width: 15px;
    height: 15px;
}

[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important;
}

.question {
    background-color: wheat;
}